@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.Proiect != null)
{
    <h2>@ViewBag.Proiect.NumeProiect</h2>
    <br />
    <p>Descriere:</p>
    <p>@ViewBag.Proiect.Descriere</p>
    <br />
    <a href="/Proiecte/Edit/@ViewBag.Proiect.Id">Editare Proiect</a>
    <br />
    <form method="post" action="/Proiecte/Delete/@ViewBag.Proiect.Id">
        <button type="submit">Stergere Proiect</button>
    </form>
}
else
{
    <h1>Reload the page</h1>
}

