
html {
    font-size: 14px;
}

.textfirst {
    margin-top: 50px;
    font-size: 1.5vh;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navigation {
    background-color: #00ABE4;
    color: white;
    font-size: 1.5vh;
}

body {
  margin-bottom: 60px;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}