@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskHub</h1>
    
    <div class="row" style="margin-top: 15%">
        <br />
        <br />
        <br />
        <h2>Your Ultimate Task Management Solution</h2>
        <p>TaskHub is here to simplify your life by providing a powerful and intuitive platform for managing all your tasks efficiently. Whether you're a professional striving for productivity or an individual looking to stay organized, TaskTracker has you covered.</p>

        <p>Key Features:</p>
        <ul>
            <li style="list-style: none"><strong>Easy Task Creation:</strong> Quickly add and organize tasks with just a few clicks.</li>
            <li style="list-style: none"><strong>Intuitive Interface:</strong> User-friendly design for a seamless experience.</li>
            <li style="list-style: none"><strong>Deadline Tracking:</strong> Stay on top of your schedule with built-in deadline management.</li>
            <li style="list-style: none"><strong>Collaboration:</strong> Easily collaborate with team members, sharing tasks and updates.</li>
            <li style="list-style: none"><strong>Progress Monitoring:</strong> Track the progress of your tasks and projects at a glance.</li>
        </ul>

        <p>Get started today and take control of your tasks with TaskTracker. Your productivity journey begins here!</p>
    </div>
</div>
