@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit la TaskHub</h1>
    
    <div class="row" style="margin-top: 15%">
        <br />
        <br />
        <br />
        <h2>Soluția ta de gestionare a sarcinilor.</h2>
        <p>TaskHub este aici pentru a-ți simplifica viața, oferind o platformă puternică și intuitivă pentru gestionarea eficientă a tuturor sarcinilor tale. Indiferent dacă ești un profesionist ce își dorește productivitate sau un individ ce caută să rămână organizat, TaskHub îți este de folos.</p>

        <p>Key Features:</p>
        <ul>
            <li style="list-style: none"><strong>Ușurința crearii sarcinilor:</strong> Adaugă și organizează rapid sarcinile cu doar câteva clicuri.</li>
            <li style="list-style: none"><strong>Intefață intuitivă:</strong> Design prietenos pentru o experiență fără cusur.</li>
            <li style="list-style: none"><strong>Urmărirea termenele limită:</strong> Rămâi la zi cu programul tău folosind gestionarea încorporată a termenelor limită.</li>
            <li style="list-style: none"><strong>Colaborare:</strong> Colaborează ușor cu membrii echipei, partajând sarcini și actualizări.</li>
            <li style="list-style: none"><strong>Monitorizarea progresului:</strong> Urmărește progresul sarcinilor și proiectelor tale într-o privire.</li>
        </ul>

        <p>Începe astăzi și preia controlul asupra sarcinilor tale cu TaskHub. Călătoria ta către productivitate începe aici!</p>
    </div>
</div>
