@{
    ViewData["Title"] = "Privacy Policy";
}

<style>

    h1, h2, h3 {
        color: #333;
    }

    p {
        color: #666;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<h1>Privacy Policy for TaskHub</h1>

<p>Last Updated: 2023</p>

<h2>1. Introduction</h2>

<p>Welcome to TaskHub. We respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website <a href="http://www.taskhub.com">www.taskhub.com</a> ("Site").</p>

<h2>2. Information We Collect</h2>

<ul>
    <li style="list-style:none">
        <p>a. Personal Information</p>

        We may collect personal information that you voluntarily provide to us when you interact with the Site. This may include, but is not limited to, your name, email address, and any other information that can be used to identify you.
    </li>
    <br />
    <li style="list-style:none">
        <p>b. Non-Personal Information</p>

        We may also collect non-personal information automatically, such as your IP address, browser type, and operating system.
    </li>
</ul>
<h2>3. How We Use Your Information</h2>

<p>We use the information we collect for various purposes, including:</p>
<ul>
    <li>Providing, maintaining, and improving our services.</li>
    <li>Personalizing your experience on the Site.</li>
    <li>Sending you updates, newsletters, and promotional materials.</li>
    <li>Responding to your inquiries and providing customer support.</li>
    <li>Complying with legal and regulatory requirements.</li>
</ul>

<!-- Add more sections as needed -->

<h2>4. Contact Us</h2>

<p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:taskhub@gmail.com">taskhub@gmail.com</a>.</p>
